@import "colors";
@import "sprite";

#randomInt {
  background-color: $main;
  border: 1px solid black;
  color: white;
  padding: 5px;
}

#randomRange {
  background-color: $secondary;
  border: 1px solid black;
  color: white;
  padding: 5px;
}

.chrome {
  @include sprite($chrome);
}

.firefox {
  @include sprite($firefox);
}